.App {
  text-align: center;
  background-color: beige
}

.App-content {
  position: absolute;
  margin: 0 auto;
  top: 100px;
  height: 100px;
  width: 70%;
  background-color: white;
  z-index: 10;
}

Particles {
  position: fixed;
  top: 0;
  left: 0;
}
